
@{
    ViewBag.Title = "Addproducts";
}

<h2>Add Products</h2>

<form method="post" enctype="multipart/form-data">
   
        Product Name  <input name="name" type="text" /><br /><br />
        Product Description <input name="description" type="text" /><br /><br />
        Product Price <input name="price" type="text"  /><br /><br />
        Product Picture <input name="file" type="file"/>

        <input name="submit" type="submit" value="Submit" /><br />
    
</form>
