@model IEnumerable<ShoppingKart.Models.UserAddress>

@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1"> Add New Address</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <form>
                        <div class="panel-body">

                            <div class="form-group">
                                <label for="exampleFormControlTextarea2">Enter Address:</label>
                                <textarea class="form-control rounded-0" name="AddText" id="exampleFormControlTextarea2" rows="3"></textarea>
                            </div>

                        </div>
                        <div class="panel-footer">

                            <button class="btn btn-danger" type="submit" name="SaveAdd" data-toggle="collapse" data-target="#collapse1">save</button>
                        </div>
                    </form>
                    
               </div>
             </div>
        </div>
        <div class="col-sm-2">

        </div>

    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse2"> Select Address</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <form>
                        @foreach (var item in Model)
                        {
                            <div class="panel-body">



                                <div class="form-group">
                                    <input name="SelectAdd" type="radio" value="@item.AddressId" />&nbsp;
                                    <label name="LebelAdd" value="@item.AddressId" for="exampleFormControlTextarea2">@Html.DisplayFor(modelItem => item.Address)</label>

                                </div>

                            </div>
                        }
                        <div class="panel-footer">

                            <button class="btn btn-danger" type="submit" name="PlaceOrder" data-toggle="collapse" data-target="#collapse2">Place Order</button>
                            <br /><p class="danger">@ViewBag.SelectError</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-2">

        </div>

    </div>

</div>
