@model IEnumerable<ShoppingKart.Models.OrderDetail>

@{
    ViewBag.Title = "YourOrders";
}

<h2>YourOrders</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">
            @foreach (var item in Model)
            {
                <div class="panel panel-info">
                    <form method="post">
                        <div class="form-group">

                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span style="text-align:left">Order Number: @item.OrderNo </span>
                                    &nbsp;&nbsp;
                                    <button value="@item.OrderNo" class="btn btn-danger" type="submit" name="ViewDetail" data-toggle="collapse" data-target="#@item.OrderNo">View Details</button>
                                </h4>
                            </div>
                            <div id="@item.OrderNo" class="panel-collapse collapse">
                                
                                    <div class="panel-body">

                                        product Name: @item.ProductName

                                    </div>
                                    <div class="panel-footer">

                                        <button class="btn btn-danger" type="submit" name="close" data-toggle="collapse" data-target="#@item.OrderNo">close</button>
                                    </div>
                                

                            </div>
                        </div>
                    </form>

                </div>
            }
        </div>
        <div class="col-sm-2">

        </div>

    </div>

</div>
