@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<div class="container" style="padding:2em">
    <div>
        <div id="myCarousel" class="carousel slide " data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <img src="~/Content/Images/img1.jpg" class="img-responsive" alt="Installation" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Installation</h3>

                    </div>
                </div>

                <div class="item">
                    <img src="~/Content/Images/img2.png" class="img-responsive" alt="Remove" style="width:100%;height:70%;background:c    ">
                    <div class="carousel-caption">
                        <h3>Remove</h3>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Content/Images/img3.jpg" class="img-responsive" alt="Reallocation" style="width:100%;height:80%">
                    <div class="carousel-caption">
                        <h3>Reallocation</h3>

                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/Images/img4.jpg" class="img-responsive" alt="Exchange" style="width:100%;height:85%">
                    <div class="carousel-caption">
                        <h3>Exchange</h3>

                    </div>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>



    <div class="text-center" style="background-color:#080808;padding-top:3em">
        <h1 style="color:#2da7b5; margin-top:3%">Welcome to Smart Meter Provision Platform</h1>
        <h4 style="color: #9b9b9b;">OUR SERVICES</h4>
        <div class="row">
            <div class="col-lg-3">
                <h3 style="color:#fff">Installation</h3>
                <p style="color: #9b9b9b;">We Provide installion of new Smart meters to homes, companies, any buildings with very easy process and without any hustle</p>
            </div>
            <div class="col-lg-3">
                <h3 style="color:#fff">Remove</h3>
                <p style="color: #9b9b9b;">You can request for removal of your existing smart-meter. Just make sure it is in well working condition.</p>
            </div>
            <div class="col-lg-3">
                <h3 style="color:#fff">Reallocation</h3>
                <p style="color: #9b9b9b;">
                    Changing Your Place? <br />
                    Cool! You can ask for reallocation of your smart meter with minimal charge. No need to re-install a meter.
                </p>
            </div>
            <div class="col-lg-3">
                <h3 style="color:#fff">Exchange</h3>
                <p style="color: #9b9b9b;">
                    Problem with your smart-meter?<br />
                    No problem You can request for the exchange as well. Of-course you need to pay a little. Be smart!
                </p>
            </div>
        </div>
    </div>
    <br />
    
</div>
