
@{
    ViewBag.Title = "Install";
}

<h2>Install</h2>
<br>
<br>

<table border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td colspan="2" valign="top" width="612">
                <p><strong>Electrical</strong></p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Connection type</p>
            </td>
            <td valign="top" width="396">
                <p>Direct connected</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Wiring configuration</p>
            </td>
            <td valign="top" width="396">
                <p>Single phase, single element, two wire</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Voltage range</p>
            </td>
            <td valign="top" width="396">
                <p>230 V<sub>ac</sub> (nominal)</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Current range</p>
            </td>
            <td valign="top" width="396">
                <p>0.5-10(100) A</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Accuracy</p>
            </td>
            <td valign="top" width="396">
                <p>Active Energy&nbsp; MID Class B, Reactive Energy Class 2.0</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Mains frequency</p>
            </td>
            <td valign="top" width="396">
                <p>50 Hz ± 5%</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Burden</p>
            </td>
            <td valign="top" width="396">
                <p>Compliant with EN 50470-1.3</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Contactor</p>
            </td>
            <td valign="top" width="396">
                <p>100A UC3</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Audible Alarm</p>
            </td>
            <td valign="top" width="396">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>&nbsp;</p>
            </td>
            <td valign="top" width="396">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" valign="top" width="612">
                <p><strong>Compliance</strong></p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Standards</p>
            </td>
            <td valign="top" width="396">
                <p>MID Class B EN 50470-1,3; IEC62053-23</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>&nbsp;</p>
            </td>
            <td valign="top" width="396">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" valign="top" width="612">
                <p><strong>Mechanical</strong></p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Modular design</p>
            </td>
            <td valign="top" width="396">
                <p>Field replaceable communication module</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Dimensions (W x H x D)</p>
            </td>
            <td valign="top" width="396">
                <p>140 x 175 x 60 mm</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Terminals</p>
            </td>
            <td valign="top" width="396">
                <p>Tunnel type with 2 screws compliant to BS7856</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Weight</p>
            </td>
            <td valign="top" width="396">
                <p>1 kg (approx.)</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Enclosure</p>
            </td>
            <td valign="top" width="396">
                <p>Flame retardant polycarbonate</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>&nbsp;</p>
            </td>
            <td valign="top" width="396">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" valign="top" width="612">
                <p><strong>Environmental</strong></p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Ingress protection</p>
            </td>
            <td valign="top" width="396">
                <p>IP 54</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Insulation class</p>
            </td>
            <td valign="top" width="396">
                <p>Protective class II</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Temperature</p>
            </td>
            <td valign="top" width="396">
                <p>-25 ºC to +55ºC (operating),</p>
                <p>-25 ºC to +70 ºC (storage)</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Humidity</p>
            </td>
            <td valign="top" width="396">
                <p>95% non-condensing</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>&nbsp;</p>
            </td>
            <td valign="top" width="396">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" valign="top" width="612">
                <p><strong>Features</strong></p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Firmware</p>
            </td>
            <td valign="top" width="396">
                <p>Remote firmware upgrade</p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" valign="top" width="216">
                <p>Tariff</p>
            </td>
            <td valign="top" width="396">
                <p>Slab, Time of Use (TOU) and Complex (Slab within TOU) supported</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="396">
                <p>Pending tariff structures supported</p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" valign="top" width="216">
                <p>Load Survey</p>
            </td>
            <td valign="top" width="396">
                <p>13 months Active Import,</p>
                <p>3 months Active Export</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="396">
                <p>3 months Reactive Import,</p>
                <p>3 months Reactive Export</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Display</p>
            </td>
            <td valign="top" width="396">
                <p>Backlit 10-character alphanumeric starburst display with icons for status</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Keypad</p>
            </td>
            <td valign="top" width="396">
                <p>12 key- 0-9, A, B for local entry of PAYG code and access to displays</p>
            </td>
        </tr>
        <tr>
            <td rowspan="5" valign="top" width="216">
                <p>PAYG functionality</p>
            </td>
            <td valign="top" width="396">
                <p>Credit and PAYG modes (meter maintains account and tariffs)</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="396">
                <p>Display of current and historical consumption with cost of consumption data</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="396">
                <p>Emergency Credit with optional load limiting</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="396">
                <p>Friendly Credit (avoids disconnection during unsocial hours, weekends or special days)</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="396">
                <p>Debt recovery</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Security</p>
            </td>
            <td valign="top" width="396">
                <p>AES128 encryption<br>NISTIR 7628 Guidelines for Smart Grid Cyber Security v1.0<br>NSA Suite-B Cryptography&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Alerts</p>
            </td>
            <td valign="top" width="396">
                <p>Removal of terminal cover, main meter cover or communications hub, excessive magnetic field</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>&nbsp;</p>
            </td>
            <td valign="top" width="396">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" valign="top" width="612">
                <p><strong>Communication</strong></p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="216">
                <p>Local diagnostic port</p>
            </td>
            <td valign="top" width="396">
                <p>Optical IEC62056-21 (IEC1107) hardware-compatible port</p>
            </td>
        </tr>
        <tr>
            <td rowspan="3" valign="top" width="216">
                <p>Communication module options</p>
            </td>
            <td valign="top" width="396">
                <p>Skyline-i510 Intimate Communications Hub including GPRS WAN and ZigBee® HAN (SEP 1.1)</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="396">
                <p>HAN communication modules</p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="396">
                <p>Multi operator (roaming) SIMs supported</p>
            </td>
        </tr>
    </tbody>
</table>
<form action="~/customer/Checkout/1">
   
        <button style="align-self:center" class="btn btn-primary btn-lg">Next </button><br /><br />
   
</form>
