
@{
    ViewBag.Title = "_AdminLayout";
    HttpCookie c = Request.Cookies["Admin"];
    ViewBag.val = null;
    if (c != null)
    {
        ViewBag.user = c.Value;
        ViewBag.val = "notnull"; //he is logged-in
    }
    else
    {
        ViewBag.user = "Sign In";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Shopping Cart</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header ">
                <a href="#" class="navbar-brand img-responsive"><img class="img-responsive" src="~/Content/images/logo.jpg" width="50"></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              @* @Html.ActionLink("Scodz", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse" id="mynav">
                <ul class="nav navbar-nav">
                    <li><a href="~/Home/Index">Review Website</a></li>
                    <li><a href="#">Update Customer Services</a></li>
                </ul>
                 <ul class="nav navbar-nav navbar-right">
                  
                     
                     @if (ViewBag.val != null)
                     {
                        <li><a href="~/Admin/Addproducts">Add Product</a></li>
                        <li><a href="~/Admin/ManageOrders">Manage Orders</a></li>
                         <li><a style="color:#fa900e;font-size:medium" href="Logout">Logout</a></li>
                     }
                     else
                     {
                        <li><a href="#">Add Product</a></li>
                        <li><a href="#">Manage Orders</a></li>
                         <li><a style="color:#fa900e;font-size:medium" href="Login">Login</a></li>
                     }
                  
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="container">
            
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
      
    </div>
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>