
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron">
    <span>
        Hey Admin You need to login first!
    </span>

</div>
